/* Import */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* Logo */
.logo {
    font-family: 'Satisfy', cursive;
    text-transform: uppercase;
}

.logo a {
    color: beige;
    background-color: #802E2E;
    padding: .1em .4em;
}


/* Header */
.header_line {
    height: var(--header-line-height);
    background-color: var(--header-line-color);
    color: var(--text-secundary-color);
    font-size: var(--header-line-fs);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* position: relative; */
}

.line_Text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    /* left: 100%; */
}

/* Content */
.header_content {
    height: var(--header-content-height);
    display: flex;
    justify-content: space-between;
    padding: calc(var(--header-line-height) + 25px) 30px 0;
    font-size: var(--header-content-fs);
    max-width: 1440px;
    margin: 0 auto;
}

/* Content Logo */
.content_logo {
    font-size: var(--content_logo-fs);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content_logo a {
    position: relative;
    top: .2em;
}

/* Content Language */
.content_language {
    display: flex;
    gap: 5px;
}

/* Language Dropdown */
.lan_dropdown_select {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lan_dropdown_chevron {
    display: inline-block;
    position: relative;
    border-style: solid;
	border-width: 0.15em 0.15em 0 0;
	height: .5em;
    width: .5em;
    transform: rotate(-225deg);
    top: -0.15em;
    transition: .5s ease-in-out;
    margin-left: 1em;
}

.lan_dropdown_chevron-rotate {
    top: 0.1em; 
    transform: rotate(-45deg);
    /* transform: rotate(180deg); */
}

.lan_dropdown_menu {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid gainsboro;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s linear, visibility 0s;
}

.lan_dropdown_menu li {
    cursor: pointer;
}

.lan_dropdown_menu li:hover {
    text-decoration: underline;
}

.lan_dropdown_menu-open {
    opacity: 1;
    visibility: visible;
}

/* Content Social */
.content_social {
    display: flex;
    flex-direction: column;
}

.social_items {
    display: flex;
    gap: 20px;
    margin-bottom: 5px;
}

.social_item {
    cursor: pointer;
}

.social_item a {
    font-size: calc(var(--header-content-fs) + 7px);
    color: var(--text-content-social-color);
    transition: color .3s;
}

.social_item:hover > a {
    color: black;   
}

.social_text {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.social_text-hover {
    opacity: 1;
    pointer-events: all;
}

/* Top Bar */
.header_top-bar {
    height: var(--top-bar-height);
    background-color: var(--top-bar-color);
}

.top-bar_container {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 80px;
    max-width: 1440px;
    margin: 0 auto;
}

/* Top Bar Logo */
.top-bar_logo {
    font-size: var(--content_logo2-fs);
    display: none;
}

.top-bar_logo-active {
    display: block;
}

/* Top Bar Menu */
.top-bar_menu {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: var(--top-bar-menu-fs);
    font-weight: 500;
}

.top-bar_menu li {
    color: var(----text-principal-color);
    cursor: pointer;
}

/* Top Bar Menu Text */
.tb_menu_text {
    position: relative;
    text-transform: uppercase;
    padding: 0 20px;
    padding-bottom: calc(((var(--top-bar-height) - var(--top-bar-menu-fs)) / 2) - 2px - 2px);
}

.tb_menu_text::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 20px;
    background-color: black;
    visibility: hidden;
    transition: width .2s ease-in, visibility 0s;
}

.top-bar_menu li:hover > .tb_menu_text::after {
    visibility: visible;
    width: calc(100% - 40px);
}

/* Top Bar Menu Container */
.tb_menu_container {
    position: absolute;
    top: calc(var(--top-bar-height) + var(--header-content-height));
    left: 0;
    width: 100%;
    height: 200px;
    background-color: white;
    border-top: 1px solid gainsboro;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0s ease-in-out .2s;
}

.top-bar_menu li:hover > .tb_menu_container {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/* Sticky */
.header_sticky {
    position: fixed;
    top: var(--header-line-height);
    left: 0;
    width: 100%;
    z-index: 100;
}

.tb_menu_container-sticky {
    top: var(--top-bar-height);
    /* height: calc(100vh - var(--top-bar-height)); */
}

.main-view-sticky {
    padding-top: var(--top-bar-height);
}